.project{
    height: 50vh;
}

.project:nth-child(4n-2), .project:nth-child(4n-1){
    background:azure;
}

.project-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
}

@media only screen and (max-width: 900px){
    .project-grid{
        grid-template-columns: 1fr;
    }
    .project:nth-child(even){
        background:azure;
    }
    .project:nth-child(odd){
        background:none;
    }
}

@media only screen and (max-width: 900px) and (orientation:landscape){
    .project{
        height: 100vh;
    }
}