.project{
    position: relative;
}

.project h1{
    margin: 0;
}

.project > div{
    margin: 2rem;
}

.project-image{
    display:flex;
    justify-content: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

.overlay{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    background: rgba(240, 255, 255, .7);
    padding: 1rem;
}

.overlay > *{
    flex-grow: 0;
}

.description-wrapper{
    flex-grow: 1;
}

.icon-container{
    flex-wrap: wrap;
    justify-self: stretch;
    display: flex;
    align-items: center;
}

.icon-container img, .icon-container i{
    width: 36px;
    height: auto;
    margin:.4em;
}

.tech-icon{
    flex-grow: 0;
}

.spacer{
    flex-grow: 1;
}

.project:hover .project-image{
    transform: scale(1.025);
    filter: blur(10px);
}

.project:hover .overlay{
    opacity: 1;
}

@media only screen and (max-width: 900px) and (orientation:landscape){
    .icon-container img{
        width: 24px;
        height: auto;
        margin: .1rem;
    }

    .project > div{
        margin: 1.5rem;
    }
}

@media only screen and (max-width: 600px){
    .icon-container img{
        width: 24px;
        height: auto;
        margin: .1rem;
    }

    .project > div{
        margin: 1.5rem;
    }
}

@media only screen and (max-width:400px){
    .icon-container img{
        width: 20px;
        height: auto;
        margin: .1rem;
    }
    .project > div{
        margin: 1.25rem;
    }
}