.project{
    position: relative;
}

.project h1{
    margin: 0;
}

.project > div{
    margin: 2rem;
}

.project-image{
    display:flex;
    justify-content: center;
}

.overlay-container{
    display:flex;
    overflow: hidden;
}

.overlay{
    background: rgba(240, 255, 255, .7);
    padding: 1rem;
}

.description-container{
    flex-grow: 1;
}

.icon-container{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    writing-mode: vertical-lr;
    flex-grow: 0;

}

.icon-container img{
    writing-mode: horizontal-tb;
    width: 36px;
    height: auto;
    margin:.4em;
}

.description-container{
    transform: translateX(-100%);
}

.icon-container{
    transform: translate(100%);
}

.project:hover .overlay{
    transform: translateX(0%);
}

.project:hover .project-image{
    transform: scale(1.025);
    filter: blur(10px);
}

@media only screen and (max-width: 900px) and (orientation:landscape){
    .icon-container img{
        width: 24px;
        height: auto;
        margin: .1rem;
    }

    .project > div{
        margin: 1.5rem;
    }
}

@media only screen and (max-width: 600px){
    .icon-container img{
        width: 24px;
        height: auto;
        margin: .1rem;
    }
    .description-container *{
        font-size: .75rem;
    }

    .project > div{
        margin: 1.5rem;
    }
}

@media only screen and (max-width:400px){
    .icon-container img{
        width: 20px;
        height: auto;
        margin: .1rem;
    }
    .description-container *{
        font-size: .67rem;
    }
    .project > div{
        margin: 1.25rem;
    }
}