.about{
    display: flex;
    flex-direction: row;
    padding: 2rem 1rem 1rem 1rem;
    background: var(--primary-white);
}

.about div{
    flex-basis: 0px;
    flex-grow: 1;
}

.about-text{
    flex-grow: 4;
}

.about-text p{
    margin-bottom: 1rem;
}

.about .spacer{
    max-width: 5vw;
}


